<html>

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>

    {{ partial "navigation.html" . }}

    <div class="w-full bg-gradient-to-b from-agora-company-light to-white min-h-[450px]">
      <div class="container mx-auto px-4 max-w-7xl">
        <div class="md:grid md:grid-cols-7 md:gap-8 py-20">
          <div class="col-span-4">
            <h1 class="text-5xl font-medium mb-5 text-agora-green-dark">Свържи се с най-добрите таланти</h1>
            <div class="mb-20">
              <p class="font-medium text-xl">
                Свържете се с утрешните професионалисти сега. Обновете вашия екип, заложете на младите. Директен достъп до стотици ангажирани таланти за вашия бизнес.
              </p>
            </div>
            <div>
              <a href="#" class="bg-agora-green-dark py-2 px-12 inline-block text-sm text-white rounded-3xl hover:bg-white hover:text-agora-green-dark border border-agora-green-dark transition-all">Започни сега</a>
            </div>
          </div>
          <div class="col-span-3 hidden md:block">
            <img class="w-full max-h-[350px]" src="{{ "/images/companies.svg" | absURL }}">
          </div>
        </div>
      </div>
    </div>


    {{ partial "footer.html" . }}