<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="overflow-x-hidden">

    {{ partial "navigation.html" . }}

    

    <!-- START: Heading -->
    <div class="relative bg-gray-100/1">
      <div class="container mx-auto px-4 max-w-7xl">
        <div class="bg-agora-green-light w-full h-full absolute top-0 right-0 left-1/2 -translate-x-full"></div>
        <div class="relative z-10 pr-8 min-h-[430px]">
          <div class="absolute top-0 w-full h-full bg-agora-green-light translate-x-1/3 sm:-translate-x-1/4 rounded-2xl">
            <img class="absolute right-14 top-1" src="{{ "images/group1.svg" | absURL }}" alt="Group of people">
            <img class="absolute top-full -translate-y-3/4 -right-96 w-full max-w-[700px] hidden sm:block" src="{{ "images/group2.svg" | absURL }}" alt="Group">
          </div>
          <div class="relative z-10 py-20">
            <h1 class="text-white w-3/6 font-medium text-6xl">{{ i18n "home_slogan.text"}}</h1>
            <a class="mt-28 inline-block text-white border-white border px-12 py-3 rounded-3xl text-sm hover:text-agora-green-light hover:bg-white transition-all" href="#learn-more">{{ i18n "learn_more.text"}}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Heading -->

    <div class="container mx-auto px-4 max-w-7xl pt-56" id="about-the-platform">
      <div class="bg-agora-green-dark min-h-96 bg-no-repeat bg-right-bottom rounded-xl flex flex-col md:flex-row">

    
        <img class="relative max-w-96 w-full md:w-auto " src="{{ "images/people.svg" | absURL }}" alt="About the platform">

        <div class="text-white text-xl pr-40 p-10 flex-1 order-first md:order-none">
          <strong>{{ i18n "home_desc_head.text" }}</strong> <br /><br />
          <span>
            {{ i18n "home_desc_body.text" }}
          </span>
        </div>

      </div>
    </div>
    

    <div class="container mx-auto px-4 max-w-7xl pt-56" id="learn-more">
      <div class="bg-gradient-to-r from-agora-talent-light to-white hover:to-agora-talent-light max-w-none sm:max-w-lg p-10 rounded-2xl relative shadow-sm shadow-green-100/0 hover:shadow-2xl transition-all">
        <h2 class="font-semibold text-3xl">{{ i18n "for_talents.text" }}</h2>
        <div class="mt-10 max-w-md">
          <div class="font-semibold mb-10">{{ i18n "home_talent_slogan.text" }}</div>
          <div>{{ i18n "home_talent_description.text" }}</div>
        </div>
        <div class="mt-20">
          <a href="{{ .Site.Params.registerUrlTalent }}" class="inline-block font-semibold bg-white text-agora-talent-dark border-agora-talent-dark border px-12 py-3 rounded-3xl text-sm hover:text-white hover:bg-agora-talent-dark transition-all">{{ i18n "start_now.text" }}</a>
          <a href="{{ "/talent" | relLangURL  }}" class="inline-block font-semibold px-8 py-3 rounded-3xl text-sm hover:bg-white/50 transition-all ml-4">{{ i18n "learn_more.text" }}</a>
        </div>
        <img class="absolute top-10 left-full -translate-x-36 max-h-[300px] hidden sm:block" src="{{ "images/talents.svg" | absURL }}">
      </div>
    </div>


    <div class="container mx-auto px-4 max-w-7xl pt-10">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div class="relative col-start-2">
          <div class="bg-gradient-to-l from-agora-company-light to-white hover:to-agora-company-light max-w-none sm:max-w-lg p-10 rounded-2xl relative shadow-sm shadow-green-100/0 hover:shadow-2xl transition-all">
            <h2 class="font-semibold text-3xl">{{ i18n "for_business.text" }}</h2>
            <div class="mt-10 max-w-md">
              <div class="font-semibold mb-10">{{ i18n "home_business_slogan.text" }}</div>
              <div>{{ i18n "home_business_description.text" }}</div>
          </div>
            <div class="mt-20">
              <a href="{{ .Site.Params.registerUrlCompany }}" class="inline-block font-semibold bg-white text-agora-green-light border-agora-green-light border px-12 py-3 rounded-3xl text-sm hover:text-white hover:bg-agora-green-light transition-all">{{ i18n "start_now.text" }}</a>
              <a href="{{ "/company" | relLangURL  }}" class="inline-block font-semibold px-8 py-3 rounded-3xl text-sm hover:bg-white/50 transition-all ml-4">{{ i18n "learn_more.text" }}</a>
            </div>
            <img class="absolute top-5 right-full translate-x-10 max-h-[340px] hidden sm:block" src="{{ "images/companies.svg" | absURL }}">
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}


<!--
WTF

  <h2>{{ .Title }}</h2>

  {{ range slice "foo" "bar" }}
    <p>{{ . }}</p>
  {{ end }}

  {{ with "baz" }}
    <p>{{ . }}</p>
  {{ end }}



  <ul>
    {{ range .Site.Languages }}
      <li>{{ .Title }} ({{ .LanguageName }})</li>
    {{ end }}
  </ul>


  CURRENT: {{ .Site.Language.Title }}

  {{ i18n "whatsInThis" . }}
-->
  </body>

</html>