<html>

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>

    {{ partial "navigation.html" . }}

    <div class="w-full bg-gradient-to-b from-agora-talent-light to-white min-h-[450px]">
      <div class="container mx-auto px-4 max-w-7xl">
        <div class="md:grid md:grid-cols-7 md:gap-8 py-20">
          <div class="col-span-4">
            <h1 class="text-5xl font-medium mb-5 text-agora-talent-dark">Бъди забелязан от топ компании</h1>
            <div class="mb-20">
              <p class="font-medium text-xl">
                Работи по състезания и онлайн проекти от бизнеса. Впечатли и получи награда или предложение за работа.
              </p>
            </div>
            <div>
              <a href="#" class="bg-agora-talent-dark py-3 px-12 inline-block text-sm font-semibold text-white rounded-3xl hover:bg-white hover:text-agora-talent-dark border border-agora-talent-dark transition-all">Започни сега</a>
            </div>
          </div>
          <div class="col-span-3 hidden md:block">
            <img class="w-full" src="{{ "images/talents.svg" | absURL }}">
          </div>
        </div>
      </div>
    </div>


    <div class="container mx-auto px-4 max-w-7xl pt-24">
      <div class="mb-10 text-center">
        <h2 class="font-semibold text-3xl mb-3">Защо да се включиш в @-GORA</h2>
        <div><small class="text-sm block">Запознай се с бенефитите на платформата за всички таланти</small></div>
      </div>
      <div>
        <div class="md:grid lg:grid-cols-4 sm:grid-cols-3 md:gap-8">
          {{ partial "square-hover-block.html" (dict "imageURL" "la-user-tie" "headerText" "Професионален опит" "descriptionText" "Трупаш опит, докато работиш по реални проекти.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-star" "headerText" "Бъди различен" "descriptionText" "Изграждаш портфолио, с което да изпъкваш пред останалите.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-donate" "headerText" "Възнаграждение" "descriptionText" "Част от проектите са платени и/или с награда.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-comments" "headerText" "Обратна връзка" "descriptionText" "Получаваш обратна връзка от топ професионалисти.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-headset" "headerText" "Гъвкавост" "descriptionText" "Проектите са дистанционни в удобно за теб време.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-briefcase" "headerText" "Контакти" "descriptionText" "Създаваш директни връзки с избрани от теб компании.") }}
          <div class="lg:col-span-2 sm:col-span-3">
            <div class="mb-5 min-h-60 p-8 rounded-2xl overflow-hidden  border-none border-agora-talent-light relative bg-gradient-to-r from-agora-talent-light to-white transition-all">
              <img class="absolute max-w-[700px] right-48 top-1 opacity-10 grayscale" src=" {{ "images/bubles-gray.svg" | absURL }} ">
              <div class="relative">
                <h3 class="font-semibold text-lg mb-10">Създай своя персонализиран профил сега</h3>
                <a href="#" class="bg-agora-talent-dark py-3 px-12 inline-block text-sm font-semibold text-white rounded-3xl hover:bg-white hover:text-agora-talent-dark border border-agora-talent-dark transition-all">Започни сега</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- COLORED GRAPH BLOCK -->
    <div class="container mx-auto px-4 max-w-7xl pt-40">
      <div class="mb-10">
        <h2 class="font-semibold text-3xl mb-3">Как работи @-GORA</h2>
        <div><small class="text-sm">Основни стъпки на процеса за работа на платформата</small></div>
      </div>
    </div>
    <div class="w-full bg-agora-talent-color min-h-96 relative py-10">
      <img class="absolute max-w-[1100px] w-3/4 -left-5 top-1 opacity-20 grayscale" src=" {{ "images/bubles-gray.svg" | absURL }} ">
      <div class="container mx-auto px-4 max-w-7xl relative">
        <div class="grid grid-cols-1 lg:grid-cols-4 sm:grid-cols-2 gap-8">
          {{ partial "talent-color-grid-block.html" (dict "stepNum" "1" "titleText" "Създаваш профил в @-GORA" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Създай профил") }}
          {{ partial "talent-color-grid-block.html" (dict "stepNum" "2" "titleText" "Избираш проект или състезание, по които искаш да работиш" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Избери състезание") }}
          {{ partial "talent-color-grid-block.html" (dict "stepNum" "3" "titleText" "Получаваш обратна връзка, награда и дори предложение за работа" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Вземи обратна връзка") }}
          {{ partial "talent-color-grid-block.html" (dict "stepNum" "4" "titleText" "Създаваш силен профил, привлекателен за компаниите" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Подобри профила си") }}  
        </div>
      </div>
    </div>


    {{ partial "footer.html" . }}