<html>

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>

    {{ partial "navigation.html" . }}

    <div class="w-full bg-gradient-to-b from-agora-talent-light to-white min-h-[450px]">
      <div class="container mx-auto px-4 max-w-7xl">
        <div class="md:grid md:grid-cols-7 md:gap-8 py-20">
          <div class="col-span-4">
            <h1 class="text-5xl font-medium mb-5 text-agora-talent-dark">Бъди забелязан от топ компании</h1>
            <div class="mb-20">
              <p class="font-medium text-xl">
                Работи по състезания и онлайн проекти от бизнеса. Впечатли и получи награда или предложение за работа.
              </p>
            </div>
            <div>
              <a href="{{ .Site.Params.registerUrlTalent }}" class="bg-agora-talent-color py-3 px-12 inline-block text-sm font-semibold text-white rounded-3xl hover:bg-white hover:text-agora-talent-color border border-agora-talent-color transition-all">Започни сега</a>
            </div>
          </div>
          <div class="col-span-3 hidden md:block">
            <img class="w-full" src="{{ "images/talents.svg" | absURL }}">
          </div>
        </div>
      </div>
    </div>


    <div class="container mx-auto px-4 max-w-7xl pt-36">
      <div class="mb-10 text-center">
        <h2 class="font-semibold text-3xl mb-3">Защо да се включиш в @-GORA</h2>
        <div><small class="text-sm block">Запознай се с ползите от платформата за всички таланти</small></div>
      </div>
      <div>
        <div class="md:grid lg:grid-cols-4 sm:grid-cols-3 md:gap-8">
          {{ partial "square-hover-block.html" (dict "imageURL" "la-user-tie" "headerText" "Професионален опит" "descriptionText" "Трупаш опит, докато работиш по реални проекти.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-star" "headerText" "Бъди различен" "descriptionText" "Изграждаш портфолио, с което да изпъкваш пред останалите.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-donate" "headerText" "Възнаграждение" "descriptionText" "Част от проектите са платени и/или с награда.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-comments" "headerText" "Обратна връзка" "descriptionText" "Получаваш обратна връзка от топ професионалисти.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-headset" "headerText" "Гъвкавост" "descriptionText" "Проектите са дистанционни в удобно за теб време.") }}
          {{ partial "square-hover-block.html" (dict "imageURL" "la-briefcase" "headerText" "Контакти" "descriptionText" "Създаваш директни връзки с избрани от теб компании.") }}
          <div class="lg:col-span-2 sm:col-span-3">
            <div class="mb-5 min-h-60 p-8 rounded-2xl overflow-hidden  border-none border-agora-talent-light relative bg-gradient-to-r from-agora-talent-light to-white transition-all">
              <img class="absolute max-w-[700px] right-48 top-1 opacity-10 grayscale" src=" {{ "images/bubles-gray.svg" | absURL }} ">
              <div class="relative">
                <h3 class="font-semibold text-lg mb-10">Създай своя персонализиран профил сега</h3>
                <a href="{{ .Site.Params.registerUrlTalent }}" class="bg-agora-talent-dark py-3 px-12 inline-block text-sm font-semibold text-white rounded-3xl hover:bg-white hover:text-agora-talent-dark border border-agora-talent-dark transition-all">Започни сега</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- COLORED GRAPH BLOCK -->
    <div class="pt-36">
      <div class="container mx-auto px-4 max-w-7xl mb-8">
        <div>
          <h2 class="font-semibold text-3xl mb-3">Как работи @-GORA</h2>
          <div><small class="text-sm">Основни стъпки на процеса за работа на платформата</small></div>
        </div>
      </div>
      <div class="w-full bg-agora-talent-color min-h-96 relative py-10">
        <img class="absolute max-w-[1100px] w-3/4 -left-5 top-1 opacity-20 grayscale" src=" {{ "images/bubles-gray.svg" | absURL }} ">
        <div class="container mx-auto px-4 max-w-7xl relative">
          <div class="grid grid-cols-1 lg:grid-cols-4 sm:grid-cols-2 gap-8">
            {{ partial "talent-color-grid-block.html" (dict "stepNum" "1" "titleText" "Създаваш профил в @-GORA" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Започни сега") }}
            {{ partial "talent-color-grid-block.html" (dict "stepNum" "2" "titleText" "Избираш проект или състезание, по които искаш да работиш" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Започни сега") }}
            {{ partial "talent-color-grid-block.html" (dict "stepNum" "3" "titleText" "Получаваш обратна връзка, награда и дори предложение за работа" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Започни сега") }}
            {{ partial "talent-color-grid-block.html" (dict "stepNum" "4" "titleText" "Създаваш силен профил, привлекателен за компаниите" "buttonLink" .Site.Params.registerUrlTalent "buttonText" "Започни сега") }}  
          </div>
        </div>
      </div>
    </div>


  <!-- AGORA OPPORTUNITIES-->
  <div class="container mx-auto px-4 max-w-7xl relative pt-36">
    <div class="bg-white">
      <h3 class="font-semibold text-3xl mb-8">Топ възможностите в @-GORA</h3>
      <div class="sm:grid sm:grid-cols-3 sm:gap-8">
        {{ partial "simple-list-talent-item.html" (dict "stepNum" "1" "titleText" "Разглеждаш профили на компании") }}  
        {{ partial "simple-list-talent-item.html" (dict "stepNum" "2" "titleText" "Участваш в състезания с награди") }}  
        {{ partial "simple-list-talent-item.html" (dict "stepNum" "3" "titleText" "Достъп до практически библиотека с уебинари, книги и т.н.") }}  
        {{ partial "simple-list-talent-item.html" (dict "stepNum" "4" "titleText" "Изграждаш име") }}  
        {{ partial "simple-list-talent-item.html" (dict "stepNum" "5" "titleText" "Получаваш възнаграждение") }}  
        {{ partial "simple-list-talent-item.html" (dict "stepNum" "6" "titleText" "Работиш по проекти") }}  
      </div>
    </div>
  </div>


    
  <div class="w-full min-h-96 relative pt-36">
    <div class="grid place-items-center">
        <div class="container mx-auto px-4 max-w-7xl relative">
        <div class="bg-white">
            <h3 class="font-semibold text-3xl mb-3">Често задавани въпроси</h3>
            <p class="text-sm font-light text-gray-600 my-3">
              В този раздел ще намерите отговори на често задаваните въпроси, свързани с платформата. Целта ни е да ви предоставим ясна и полезна информация, за да улесним вашето преживяване и взаимодействие с нас. Ако имате допълнителни въпроси, не се колебайте да се свържете с нас.
            </p>
            <div class="h-1 w-full mx-auto border-b-0 my-5"></div>
            {{ partial "acordion-item-talent.html" (dict "questionText" "Защо да използвам @-GORA?" "descriptionText" "@-GORA е мястото, на което можете да започнете да трупате опит дистанционно и в удобно за вас време. За целта кандидатствайте по състезание или проект, публикувани от дадена компания и спечелете – награда, професионални контакти, знания и умения.<br /><br />В допълнение, вашите постижения са видими за компаниите и формират едно истинско виртуално CV.") }}  
            {{ partial "acordion-item-talent.html" (dict "questionText" "Какво представляват състезанията в @-GORA?" "descriptionText" "Състезанието е казус или задача, публикувани от дадена компания. В определен срок вие може да подготвите и подадете през платформата вашето решение. Всяка компания решава и обявява как и въз основа на какви критерии ще оцени победителите и какви ще са наградите. За вас остава да решите, дали състезанието ви предизвиква да участвате.<br /><br />Какво печелите? Освен конкретната награда, вие печелите професионален контакт с компанията, опит и обратна връзка за работата ви, а постижението ви е публикувано в профила на @-GORA и става видимо занапред за всички регистрирани компании.") }}  
            {{ partial "acordion-item-talent.html" (dict "questionText" "Какво е проект?" "descriptionText" "Когато кандидатствате по проект, вие може да бъдете избрани от компанията, да работите онлайн, на самата платформа по конкретна тяхна задача. За разлика от състезанието, проектът не е еднократен акт на подаване на решение и оценката му, а е работен процес. На @-GORA компанията ще ви поставя задачи, срокове и ще може да проверява резултатите от вашата работа.<br /><br />Какво печелите вие? На първо място, това може да е възнаграждение или награда, определени от компанията. По-важното е, че когато спечелите възможността да работите по проект, вие печелите опит, работен контакт с компанията и всичко това се вижда в профила ви и ви отличава от останалите.<br /><br />Ако това не е достатъчно, нека да добавим, че можете да го правите от друго място и дори град, както и че не сте ограничени с конкретно работно време, а само с крайни срокове.") }}  
            {{ partial "acordion-item-talent.html" (dict "questionText" "Колко ще ми струва използването на @-GORA?" "descriptionText" "Регистрацията и използването на @-GORA е напълно безплатно за млади таланти. Това е така, защото нашата мисия е да помогнем в кариерния старт на всички млади хора, които имат амбицията, да бъдат професионалистите на утрешния ден.") }}  
        </div>
        </div>
    </div>
  </div>


  {{ partial "footer.html" . }}


  </body>

</html>