<div class="bg-white rounded-2xl py-6 px-8 mb-6 relative pb-20 min-h-[350px] shadow hover:shadow-xl transition-all">
    <div class="mb-4"><em class="font-bold not-italic text-4xl text-agora-talent-color">{{ .stepNum }}</em></div>
    <h2 class="text-xl font-semibold">{{ .titleText }}</h2>
    <div class="absolute bottom-6 left-6 right-6">
      <div class="text-center">
        <a href="{{ .buttonLink }}" class="text-nowrap py-3 block text-sm font-semibold text-agora-talent-color rounded-3xl bg-white hover:bg-agora-talent-color hover:text-white border border-agora-talent-color transition-all">{{ .buttonText }}</a>
      </div>
    </div>
</div>